html, body {
    padding: 0;
    margin: 0;
}

html {
    background-color: #ffddbb;
}

body {
    width: 760px;
    padding: 20px;
    margin: 10px auto;
    background-color: #ffffff;
    overflow: auto;
}
